<div>
  <nav class="navbar navbar-dark bg-dark main-nav">
    <a class="navbar-brand title" href="/" matTooltip="Retournez à l'accueil"
      >INF3710 - TP4</a
    >
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <button mat-fab color="primary" routerLink="/add">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-fab color="primary" routerLink="/update">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-fab color="primary" routerLink="/delete">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </nav>

  <div class="home" *ngIf="route == ''">
    <p>Welcone to Super Hospital</p>
    <button
      mat-raised-button
      color="primary"
      class="btn"
      routerLink="/list"
    >
      Clicker ici pour accéder à la liste des médecins<mat-icon>arrow_right</mat-icon>
    </button>
  </div>
  <router-outlet></router-outlet>
</div>
